* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  color: rgb(254, 254, 254);
  background: rgb(43, 45, 49);
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 2.5vh 1.25vw;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5vh;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 1.875vh;
  color: rgb(220, 215, 201);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.1875vw;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 255, 0);
}

.home {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.home-content {
  max-width: 43.75vw;
}

.home-content h1 {
  font-size: 3.5vh;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 1.5vh;
  font-weight: 600;
  color: lightyellow;
}

.home-content p {
  font-size: 1.25vh;
  margin: 2.5vh 0 5vh;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 31.25vw;
  height: 5vh;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.375vw;
  height: 100%;
  background-color: rgb(187, 187, 187);
  border: 2px solid rgb(255, 227, 216);
  border-radius: 0.625vh;
  font-size: 1.875vh;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.625px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: rgb(220, 215, 201);
}

.btn-box a:nth-child(2) {
  background-color: transparent;
  color: rgb(220, 215, 201);
}

.btn-box a:nth-child(2):hover {
  color: black;
}

.btn-box a:nth-child(2)::before {
  background: rgb(220, 215, 201);
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: rgb(220, 215, 201);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 3.75vh;
  width: 9.375vw;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5vh;
  height: 2.5vh;
  background: transparent;
  border: 2px solid rgb(220, 215, 201);
  border-radius: 50%;
  font-size: 1vh;
  color: rgb(162, 123, 92);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: rgb(63, 78, 79);
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: lightyellow;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}
